<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Micronet Solutions</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin="" />
    {% comment %} <script src="{% static 'dist/leaflet.ajax.js' %}"></script> {% endcomment %}
    {% comment %} <link href="D:\Projects\Query_project\states\district\static\style.css"> </link> {% endcomment %}
    
    <!-- CSS only -->
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous"> {% endcomment %}
    
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="static/style.css">
    
    <!-- Scrollbar Custom js -->
    <script src="static/main.js"></script>

   


    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="style2.css">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>




    <style>
        #map{
            height:850px;
            max-width:100%;
        }
        #select_name{
            width:15.6rem;
            height:2rem;
        }
        #select_nameone{
            width:15.6rem;
            height:2rem;
        }
    </style>
   
</head>
<body>
 {% comment %} add custom slider bar {% endcomment %}
 <div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>©Micronet</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Survey of India</p>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">States</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <select id="select1"> 
                        <option selected disabled="true"  id="select_option">-- select the you want --</option>
                        {% for answer in StatesModel%}
                        <option value="{{answer.pid}}">{{answer.state}}</option>
                        {% endfor %}
                    </select>
                    <select id="select2"> 
                        <option  selected disabled="true" id="select_option">-- select the you want --</option>
                        {% for results in DistrictsModel%}
                        <option value="{{results.pid}}">{{results.dist}}</option>
                        {% endfor %}
                    </select>
                </ul>
            </li>
           {% comment %}  <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">Page 1</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Portfolio</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li> {% endcomment %}
        </ul>

        {% comment %} <ul class="list-unstyled CTAs">
            <li>
                <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
            </li>
            <li>
                <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
            </li>
        </ul> {% endcomment %}
    </nav>

    <!-- Page Content  -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span>Toggle Sidebar</span>
                </button>
                {% comment %} <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button> {% endcomment %}

                {% comment %} <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Page</a>
                        </li>
                    </ul>
                </div> {% endcomment %}
                <h3>Micronet Solutions</h3>
            </div>
        </nav>
        {% comment %} map {% endcomment %}
        <div id="map"></div>
        <div id="Maharashtra"></div>
        <h2>Collapsible Sidebar Using Bootstrap 4</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <div class="line"></div>

            <h2>Lorem Ipsum Dolor</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <div class="line"></div>

            <h2>Lorem Ipsum Dolor</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <div class="line"></div>

            <h3>Lorem Ipsum Dolor</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</div>











    {% comment %} <script src='D:\Projects\Query_project\states\district\static\main.js'></script> {% endcomment %}
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>
    <!-- jQuery geoserver cdn  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="static/L.Geoserver.js"></script>
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
 
     





<script>


    $(document).ready(function(){
 
        var $idone = $("#select1");
            $idtwo = $("#select2");
            
            $options = $idtwo.find('option');
            $idone.on('change',function(){
            $idtwo.html($options.filter('[value="'+ this.value +'"]'));
            //Sort Dropdown List Alphabetically for first dropdown id #select2 
            $(function() {
            // choose target dropdown
            var select = $('#select2');
            select.html(select.find('option').sort(function(x, y) {
            // to change to descending order switch "<" for ">"
            return $(x).text() > $(y).text() ? 1 : -1;
        }));
        // select default item after sorting (first item)
        // $('select').get(0).selectedIndex = 0;
        });
        var selectedCountry = $(this).children("#select1 option:selected").val();  
        alert ("You have selected the country - " + selectedCountry);
       // zoom to layers
       $('selectedCountry').click(function () {
            map.setView([19.7515, 75.7139], 7)
        })
       
        
        

        }).trigger('change'); 
        
    });
     
    {% comment %} $("#idShow").change( function(){
        $.get("fromDB.php",{ id: $(this).val() }, function(data){
              // do something with data to fill in your other fileds.
        })
    }) {% endcomment %}
    //Sort Dropdown List Alphabetically for first dropdown id #select1 
    $(function() {
        // choose target dropdown
        var select = $('#select1');
        select.html(select.find('option').sort(function(x, y) {
          // to change to descending order switch "<" for ">"
          return $(x).text() > $(y).text() ? 1 : -1;
        }));
      
        // select default item after sorting (first item)
        // $('select').get(0).selectedIndex = 0;
    });
    
    
   
   
    

    
    // for silder bar
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });
    
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        }).trigger('change');
    });

   



        
        var map = L.map('map').setView([20.5937, 78.9629], 5.4);
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {maxZoom: 19,
            attribution: '©Micronet Solutions'}).addTo(map);
            
            {% comment %} async function load_shapefile(){
                let url = "StatesViewSet"
                const response = await fetch(url)
                const shape_obj = await response.json();
                console.log(shape_obj);
                return shape_obj;
            }
            load_shapefile().then(L.geoJson).then(map.addLayer.bind(map)); {% endcomment %}
       
            {% comment %} var dropdowndata = features.forEach(function(feature){
                $('#select1').append('<option value="'+feature.properties.state+'">'+feature.properties.state+'</option>');
            });  {% endcomment %}


            {% comment %} var wmsLayer = L.Geoserver.wms("http://localhost:8080/geoserver/wms", {
                layers: "demo:popular_place",
                format: 'image/png',
                transparent: true,
                attribution: "wmsLayer"
              });
              wmsLayer.addTo(map); {% endcomment %}

        
            
                {% comment %} var Maharashtra = L.map('Maharashtra').setView([19.7515, 75.7139], 7);
                L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {maxZoom: 19,
                attribution: '©Micronet Solutions'}).addTo(map); {% endcomment %}
            

        {% comment %} function myFunction(){
        
       
        var wmsLayer = L.Geoserver.wms("http://localhost:8080/geoserver/wms", {
            layers: "raster:mh_total_dist",
        });
        wmsLayer.addTo(map);
        } {% endcomment %}
        
        

       
                  


        async function load_shapefile() {
            let url = "{% url 'StateDissolveViewSet' %}"
            const response = await fetch(url)
            const shape_obj = await response.json();
            console.log(shape_obj);
            return shape_obj;
        }

       load_shapefile().then(L.geoJson).then(map.addLayer.bind(map));
       
        



        {% comment %} async function load_shapefile() {
            let url = "{% url 'TahesilViewSet' %}"
            const response = await fetch(url)
            const shape_obj = await response.json();
            console.log(shape_obj);
            return shape_obj;
        }

        load_shapefile().then(L.geoJson).then(map.addLayer.bind(map)); {% endcomment %}





        {% comment %} slider bar js  {% endcomment %}

       
        
       
</script>

</body>
</html>

{% comment %} var source;
        let value = $("#select1 option:selected").val();
        console.log("You have selected Route " + value + ".");
        var query = "";
        if(value == 'all'){
            query = ('SELECT * FROM state_dissolve');
        } else {
            query = ("SELECT * FROM state_dissolve WHERE state = '" + value + "'");
        };
        source.querySet(query).then(function() {
            map.getBounds(source);
            map.setBounds(getBounds);
        });
 
 {% endcomment %}



        {% comment %} document.getElementById('select1').addEventListener("change", function (e) {
            input = e.currentTarget.selectedOptions[0].attributes[0].value;
            var selectquery = 'StatesModel'
            console.log(selectquery);
            return  fetch(`selectquery = SELECT * FROM state_dissolve WHERE state '${input}'`)
            .then((resp) => resp.json())
            .then((response) => {
                geojsonLayer = L.geoJson(response)
                map.fitBounds(geojsonLayer.getBounds());
            })
        }); {% endcomment %}